:root {
    --primary-color: #FFFFFF;
  
    --green: #0D4D14;
    --green-btn: #48924F;
    --green-light: #6CB981;

    --title-color: #828282;

    --main-background-color: #FFFFFF;
    --form-background-color: #9FDEA9;

    --btn-border-radius: 35px;
    --pic-border-radius: 30px;
    --card-border-radius: 40px;
    
    --primary-space: 50px;
    --secondary-space: 45px;

    --titles-font-size: 64px;
    --titles-line-height: 96px;

    --margin-center: 0 auto;
}