@import 'variables';
@import 'mixins';

/* General styles */
body {
    font-family: 'Poppins';
    box-sizing: border-box;
}

h2, p {
    margin: 0;
}

.link {
    @include button();
    color: var(--green-light);
    box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);

    &:hover {
        background-color: var(--green-light);
        color: var(--primary-color);
        transition: all 1s ease;
    }
}

.header-wrapper {
    box-sizing: border-box;
    background-image: url(../assets/bgtop.png);
    background-repeat: no-repeat;
    height: 840px;
    padding-top: 58px;
    margin-bottom: 70px;
    
    img {
        display: block;
        margin: var(--margin-center) 50px;
    }
    
    .slogan {
        width: 279px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 59px;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        padding: 18px 48px;
        margin: var(--margin-center) 17px;
    }

    .main-title {
        max-width: 983px;
        color: var(--primary-color);
        font-weight: 900;
        font-size: 144px;
        line-height: 134px;
        text-align: center;
        margin: var(--margin-center) 100px;
    }

    a {
        color: var(--green-btn);
        margin: var(--margin-center) 115px;
        box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
    }
    
}

.main {
    background-color: var(--main-background-color);
    .services {
        &-title {
            margin: var(--primary-space);

                h2 {
                    @include title();
                    padding-left: 108.63px;
                    margin-top: -30px;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 108.63px;
                        height: 93.94px;
                        background-image: url("../assets/vector.png");
                        background-repeat: no-repeat;
                        position: relative;
                        left: -294px;
                        top: 72px;
                    }
                }
            }

        &-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            margin-bottom: var(--primary-space);

            &__item {
                width: 385px;
                color: var(--green);
                box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
                border-radius: var(--pic-border-radius);

                .item-title {
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 30px 30px 10px;
                }

                .item-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0 30px 30px;
                }
            }
        }

        a {
            margin: var(--margin-center) 70px;
        }
    }

    .about {
        h2 {
            @include title();
            padding-left: 108.63px;
            margin-top: -30px;
            margin-bottom: var(--primary-space);
        
            &::after {
                content: "";
                display: inline-block;
                width: 108.63px;
                height: 93.94px;
                background-image: url("../assets/vector.png");
                background-repeat: no-repeat;
                position: relative;
                left: -60px;
                top: 66px;
                transform: rotate(-3.6deg);
            }
        }
        &-wrapper {
            background-image: url(../assets/bgbottom.png);
            background-repeat: no-repeat;
            padding-top: 154px;
            padding-bottom: var(--primary-space);

            .text-wrapper {
                display: flex;
                justify-content: center;
                text-align: center;
                gap: 60px;
                padding-bottom: var(--primary-space);

                p {
                    width: 360px;
                    color: var(--primary-color);
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                }
                    
            }

            a {
                margin: var(--margin-center);
            }
            
        }
    }

 
}

